body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

section {
    margin: 40px 0;
}

h2 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    color: #343a40;
}

.project p {
    margin-top: 10px;
}
